<html>
    <head>
        <title>Vue-firebase</title>
    </head>

    <style>
        .first{
            font-size: 1.8em;
        }
        .second{
            text-decoration: none;
        }
        .coords-container{
            width: 500px;
            height: 300px;
            background: lightgrey;
        }

        .coords{
            display: flex;
            justify-content: space-around;
        }
    </style>
    <body>

        <div id="app">
            <h1>{{ title }}</h1> 
            <p>{{ greet("jutro") }}</p>

            <br /><br />

            <a v-bind:href="url" v-bind:class="classes">FPMOZ</a> <br/>
            <input :value="text" />  

            <br /><br />

           <h1>Brojac:{{ counter }}</h1> <br /><br />
           <button v-on:click="counter++">Povecaj</button>
           <button v-on:click="counter--">Smanji</button>

           <hr />

           <button v-on:click="increase(2)">Povecaj za 2</button>
           <button v-on:click="decrease(2)">Smanji za 2</button>

           <hr />
            <input v-model="amount" /><button v-on:click="increase()">Povecaj za unos</button><button v-on:click="decrease()">Smanji za unos</button>
            Trenutna vrijednost unosa: <span v-if="amount !== ''">{{ amount }}</span><span v-else>0</span>

            <hr />

            <button @dblclick="counter++">Dvostruki klik - Povecaj</button>
           <button  @dblclick="counter--">Dvostruki klik - Smanji</button>

           <hr />

           <div class="coords-container" @mousemove="scanCoords">
               <div class="coords">
                    <div>OffsetX: {{ offsetX }} </div>
                    <div>OffsetY: {{ offsetY }}</div>
                </div>
           </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>